[submodule "RaiderZ-Evolved-DevKit"]
  path = assets
  url = https://github.com/saerich/RaiderZ-Evolved-DevKit
[submodule "RaiderZ-Evolved-Database"]
  path = database
  url = https://github.com/saerich/RaiderZ-Evolved-Database
[submodule "RaiderZ-Evolved-Doc"]
  path = doc
  url = https://github.com/saerich/RaiderZ-Evolved-Doc
[submodule "RaiderZ-Evolved-SDK"]
  path = sdk
  url = https://github.com/saerich/RaiderZ-Evolved-SDK
[submodule "RaiderZ-Evolved-Develop"]
  path = source
  url = https://github.com/saerich/RaiderZ-Evolved-Develop