[submodule "raiderz-evolved-assets"]
  path = assets
  url = https://github.com/saerich/RaiderZ-Evolved-DevKit
[submodule "raiderz-evolved-database"]
  path = database
  url = https://github.com/saerich/RaiderZ-Evolved-Database
[submodule "raiderz-evolved-doc"]
  path = doc
  url = https://github.com/saerich/RaiderZ-Evolved-Doc
[submodule "raiderz-evolved-sdk"]
  path = sdk
  url = https://github.com/saerich/RaiderZ-Evolved-SDK
[submodule "raiderz-evolved-source"]
  path = source
  url = https://github.com/saerich/RaiderZ-Evolved-Develop