[submodule "raiderz-evolved-gamedata"]
  path = gamedata
  url = https://gitlab.com/CodeGeniusGuy/raiderz-evolved-gamedata.git
[submodule "raiderz-evolved-database"]
  path = database
  url = https://gitlab.com/CodeGeniusGuy/raiderz-evolved-database.git
[submodule "raiderz-evolved-doc"]
  path = doc
  url = https://gitlab.com/CodeGeniusGuy/raiderz-evolved-doc.git
[submodule "raiderz-evolved-sdk"]
  path = sdk
  url = https://gitlab.com/CodeGeniusGuy/raiderz-evolved-sdk.git
[submodule "raiderz-evolved-source"]
  path = source
  url = https://gitlab.com/CodeGeniusGuy/raiderz-evolved-source.git